
<%= simple_form_for(@about) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :quote %>
    <%= f.input :fb_link %>
    <%= f.input :ig_link %>
    <%= f.input :twitter_link %>
    <%= f.association :user ,as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit ,:class=>"btn btn-success"%>
    <%= link_to 'Back', abouts_path ,:class=>"btn btn-info"%>
  </div>
<% end %>
