

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @about.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @about.description %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @about.quote %>
</p>

<p>
  <strong>Fb link:</strong>
  <%= @about.fb_link %>
</p>

<p>
  <strong>Ig link:</strong>
  <%= @about.ig_link %>
</p>

<p>
  <strong>Twitter link:</strong>
  <%= @about.twitter_link %>
</p>

<p>
  <strong>User:</strong>
  <%= @about.user %>
</p>

<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
