<!DOCTYPE html>
<html>
  <head>
    <title>Benson Willie John</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('brand.png')%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body class="profile-page sidebar-collapse">
    <%= render 'shared/alert' %>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
